footer {
    width: 100%;
    height: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

.cajaFooterPrincipal {
    width: 100%;
    background: var(--color-sextenario-base);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw; 
    flex-wrap: wrap;
    padding: 2vw;
}

.cajaLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw; 
}

.TextoLogo {
    font-size: 4vw;
    font-family: Penguin;
    filter: drop-shadow(0.2vw 0.2vw 0.4vw black);
}

.imagenLogo {
    width: 7vw;
    height: 7vw;
    background: url(../../svg/footer01.svg) no-repeat center/contain;
    filter: drop-shadow(0.2vw 0.2vw 0.4vw black);
}

.imagenRelleno {
    width: 10vw;
    height: 10vw; 
    background: url(../../img/SelloDeAprobacion.png) no-repeat center/contain;
    filter: contrast(95%);
    opacity: 0.95;
}

.imagenPhampi {
    width: 5vw; 
    height: 5vw;
    background: url(../../img/phampiBlanco.png) no-repeat center/contain;
    filter: drop-shadow(0.1vw 0.1vw 0.8vw black);
}
.projectElephant {
    font-size: 1vw;
}

.cajaFooterSecundaria {
    width: 100%;
    background: var(--color-sextenario-claro);
    font-size: 1.2rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: .5vw;
}

.colorResaltadoFooter {
    color: black;
    font-family: 'Neoforte';
}

.TextoFecha {
    font-size: 1rem;
    font-weight: 600;
}
